<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">{{post_title}}</h5>
    <p class="card-text">{{post_contents}}</p>
    <a href="/edit/{{id}}" class="btn btn-primary">Edit Post</a>
  </div>
</div>
