  <div class="card-header text-center">
    <h2>{{user.username}} Posts</h2>
  </div>
{{#each posts as |post|}}
{{> dash-details}}
{{/each}}

<div class="d-grid gap-2 col-6 mx-auto">
   <div class="d-flex flex-row justify-content-between">


<div class="card text-center w-100 p-3">
 <a href="/dashboard/newPosts">
    <button id= "newPostBtn" class="btn btn-primary" value ="submit" type="button"> + New Post</button>
  </a>
</div>

</div>

  <script src="/js/bootstrap.js"></script>
