<form class="login-form">
  <div class="mb-3">
    <label for="emailInput" class="form-label">Email address</label>
    <input type="emailInput" class="form-control" id="emailInput" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>

        <a href="/sign-up">Sign up!</a>
</form>
<script src="./js/login.js"></script>