<form class="new-post-form">
    <div class="card text-center w-100 p-3">
  <div class="mb-3">
    <label for="postTitle" class="form-label">Title:</label>
    <input type="postTitle" class="form-control" id="post_title" placeholder="Article Title">
  </div>
  <div class="mb-3">
    <label for="post_content" class="form-label">Article:</label>
    <textarea class="form-control" id="post_content" rows="3"></textarea>
  </div>
  <button type="submit" value ="submit" id="newPostSbtn" class="btn btn-success">Post</button>
  </div>
</form>
  <script src="/js/add-post.js"></script>